.title{
  justify-content: center;
}
.description-title{
  font-weight: 700;
}
.description-container{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 1%;
}
.description-container-list{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 1%;
}
.pokemon-container{
  display: flex;
  justify-content: center;

}
.image-container{
  width: 30%;
  display: inline-block;
  margin-right: 2%;
}
.description{
  display: inline-block;
  width: 60%;
  text-align: center;
  vertical-align: top;
  margin-top: 2%;
  align-self: center;
}

.stats{
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.favorite{
  background-color: yellow;
}

@media (max-width: 500px){
  .pokemon-container{
    flex-direction: column;
  }
  
  .image-container{
    align-self: center;
    width: 90%;
    margin-bottom: none;
  }

  .description{
    width: 85%;
    font-size: 1rem;
  }
  
  .description-container-list{
    margin: 4%;
  }

  .description-container-list{
    margin: 4%;
    width: 40%;
  }

  .description-container-list ul{
    list-style-type: none;
  }
}   